body {
  font-family: sans-serif;
}

#assignment-instructions {
  color: #36ba98;
  font-family: sans-serif;
}

li {
  font-family: inherit;
}

code {
  font-family: monospace;
  color: #e76f51;
}

.second-list code {
  color: #e9c46a;
}

li + li {
  background: black;
  color: #fff;
}

ol li {
  background: #000;
  color: #fff;
}
